body {
    margin: 0;
    padding: 0;
}
html {
    color: #25408e;
    font-family: Calibri,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Calibri,Arial,sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:#25408e;
}
h3 {
    font-family: Calibri,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#25408e;
    line-height:18px;
}
a {
    color: #25408e;
    text-decoration: none;
}
a:hover, a.active {
    color: #72be44;
}
.reset {
    clear: both;
}
.float-left {
    float: left;
}
#container {
    margin: 0 auto 40px;    
    width: 940px;
}
#container #content {
    padding-bottom: 20px;
    padding-top: 225px;
    width:100%;
}
#container #content #main{width:100%;clear:both;}
#container #content #left{padding-left:0;padding-right:0;float:left;}
#container #content #right{float:left;padding-left:40px;}
#header-wrap {
    background-color: #fff;
    height: 225px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#header {
    height: 225px;
    margin: 0 auto;
    width: 940px;
}
#topbar {
    color: #72be44;
    float: right;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#topbar form {
    margin:0;padding:0;float:left;width:240px;
}
#topbar a {
    color: #25408e;
    font-family: Calibri,Calibri,Arial,Arial,sans-serif;
    font-style: italic;
    margin: 0 5px;
    text-decoration: none;
}
#topbar a:hover, #topbar a.active {
    color: #72be44;
}
.addthis_button {
    float: right;
    margin-left: 20px !important;
    margin-top: 4px !important;
}
#logo {
    background: rgba(0, 0, 0, 0) url("../images/logo_kgr-white.png") no-repeat scroll left bottom;
    margin-bottom: 20px;
}
#logo a {
    display: block;
    height: 58px;
    text-indent: -9999px;
    width: 636px;
}
#top-menu {
    display: inline-block;
    float: left;
    margin:5px;
}
#menu {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#menu li {
    float: right;
    margin-left: 10px;
}
#menu li a {
    background: #72be44 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
}
#menu li a:hover, #menu li a.active {
    background: #25408e none repeat scroll 0 0;
}
#breadcrumbs {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 940px;
}
.left-title {
    background: #72be44 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
}
#submenu.facet{
    list-style: outside none none;
    margin: 0 0 15px 0;
    padding: 0;
}
#submenu.facet li {
    background: #e0eed3 none repeat scroll 0 0;
    border-bottom: 1px solid #72be44;
    color: #25408e;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
#submenu.facet li span {padding-left:10px;}
#submenu.facet li:hover {
    color: #72be44;
}
#submenu.facet li > ul {
    border-bottom:0;
    color: #25408e;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#submenu.facet li > ul a {
    background: #ffffff none repeat scroll 0 0;
    border:0;
    color: #25408e;
    line-height: 28px;
    padding-left: 20px;
}
#submenu.facet li > ul a:hover {
    color: #72be44;
}
#submenu.facet li > ul li:last-child {
    border-bottom:0;
}
#submenu {
    list-style: outside none none;
    margin: 0 0 15px 0;
    padding: 0;
}
#submenu li a {
    border-bottom: 1px solid #72be44;
    color: #25408e;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 10px;
}
#submenu li a:hover {
    color: #72be44;
}
#submenu li > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#submenu li > ul a {
    background: #e0eed3 none repeat scroll 0 0;
    border-bottom: 1px solid #72be44;
    color: #25408e;
    line-height: 28px;
    padding-left: 20px;
}
#submenu li > ul a:hover {
    color: #72be44;
}
.news-article {
    border-bottom: 1px solid #72be44;
    font-size: 14px;
    padding-bottom: 20px;
}
.news-article h2 {
    font-size: 14px;
    margin-bottom: 20px;
}
.news-article a.read-more {
    color: #558d32;
    display: block;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
}
.news-article a.read-more:hover {
    color: #25408e;
}
.news-article:last-child {
    border-bottom: medium none;
    padding-bottom: 0;
}
.article-project {
    border-bottom: 1px solid #72be44;
    margin-bottom: 20px;
    min-height:135px;
}
.article-project:last-child {
    border: medium none;
    margin-bottom: 0;
}
.article-project h2 {
    display: inline;
}
.article-project h3 {
    font-size: 14px;
    margin: 0 0 20px 0;
}
.article-project img {
    float: right;
    margin: 0;
    width: 180px;
}
.article-project a.read-more {
    color: #558d32;
    display: block;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}
.article-project a.read-more:hover {
    color: #25408e;
}
.article img {
    margin-bottom: 10px;
}
#footer {
    margin-top: 20px;
    width: 100%;
    clear:both;
}
#footer img {width:100%;}
#footer .col {
    float: left;
    font-size: 16px;
    height: 73px;
    margin-right: 60px;
    width: 273px;
}
#footer .col.none {
    margin-right: 0;
}
#footer a {
    color: #558d32;
}
#footer a:hover {
    color: #25408e;
}
#footer .port-logo, #footer .dcmr-logo {
    display: block;
    height: 73px;
    width: 273px;
}
#footer .port-logo {
    background: rgba(0, 0, 0, 0) url("../../files/images/port-logo.png") no-repeat scroll left center;
}
#footer .dcmr-logo {
    background: rgba(0, 0, 0, 0) url("../../files/images/DCMR-logo-white.png") no-repeat scroll left center;
}
input {
    outline: medium none;
}
input[type="text"] {
    border: 1px solid #25408e;
    color: #25408e;
    font-family: Calibri,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding: 0 5px;
}
:-moz-placeholder {
    color: #25408e;
}
.news-article h3 {margin-bottom:0;}
.news-article .news-details {margin-bottom:15px;font-style: italic;}
.article-project h3 {margin-bottom:0;}
.article-project .project-details {margin-bottom:15px;font-style: italic;}
