<!doctype html>
<#--
  Copyright 2014 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
    <#include "/WEB-INF/freemarker/include/imports.ftl">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="<@hst.link  path="/css/bootstrap.css"/>" type="text/css"/>
    <link rel="stylesheet" href="<@hst.link  path="/css/screen.css"/>" type="text/css"/>
    <@hst.defineObjects/>
    <#if hstRequest.requestContext.cmsRequest>
      <link rel="stylesheet" href="<@hst.link  path="/css/cms-request.css"/>" type="text/css"/>
    </#if>
<@hst.headContributions categoryIncludes="htmlHead" xhtml=true/>
</head>
<body>
<@hst.include ref="header"/>
<div id="container">
    <div id="content"> 
    	<div id="left">
    		<@hst.include ref="left"/>
    	</div>
    	<div id="middle">
			<@hst.include ref="middle"/>
		</div>
		<div id="right">
			<@hst.include ref="right"/>
		</div>
		<div id="footer">		   
   	    	<@hst.include ref="footer"/>
   	    </div>
    </div>
</div>
<@hst.headContributions categoryIncludes="htmlBodyEnd" xhtml=true/>
</body>
</html>
