<#include "../../include/imports.ftl">
<#--
  Copyright 2014 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<@hst.setBundle basename="essentials.homepage"/>
<div id="main">
	<div id="slider" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<@hst.include ref="carousel"/>
    </div>
    <div id="left" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    	<@hst.include ref="left"/>
	</div>
    <div id="right" class="row col-lg-9 col-md-9 col-sm-9 col-xs-9">    	
		<@hst.include ref="right"/>
	</div>
</div>